include head.jade
body
    .wrapper
        include header.jade

        main.main.container
            h2.page-title Мобильные телефоны
            include sidebar.jade

            .content
                .cont-head
                    .sorting 
                        .sorting__title Сортировать по
                        select(class="sorting__select")
                            option(value="price") по цене
                            option(value="popularity") по популярности
                    .select-view
                        .select-view__title Вид каталога
                        ul.view
                            -var view = ['full-view', 'thumb-view', 'list-view']
                            each item in view
                                if item == 'full-view'
                                    li(id="#{item}").view__item.active
                                else
                                    li(id="#{item}").view__item
                include products.jade

                ul.pagination
                    li.pagination__item <
                    -var p = 0
                    while p < 3
                        -p++
                        if p == 1
                            li.pagination__item.pagination__item_active #{p}
                        else
                            li.pagination__item #{p}
                    li.pagination__item >

        .container.information
            h3.information__title Важная информация
            .information__text
                -p = 0
                -var num
                while p < 4
                    -p++
                    -num = p % 2
                    p.information__p #{paragraph[num]}


    footer.footer
        .container.footer-inner
            .footer-info
                .footer-logo
                    a(href="/")
                        img(src="images/logo-footer.png", alt="logo")
                .footer-socials
                    ul.footer-socials__list
                                each item in socials
                                    li.footer-socials__item
                                        a(href="#" class="footer-socials__link footer-socials__link_#{item}") #{item}
            nav.footer-nav
                ul.footer-nav-inner
                    each item in nav
                        li.footer-nav__item
                            if item == 'Мобильные телефоны'
                                a(href="#" class="footer-nav__link footer-nav__link_active") #{item}
                            else
                                a(href="#" class="footer-nav__link") #{item}
        .footer-copyright All rights reserved. 2015. no copy alowed




    script(src='bower/jquery/jquery.min.js')
    script(src='bower/jquery-ui/jquery-ui.min.js')
    script(src='bower/select2/select2.min.js')
    script(src='bower/columnizer/jquery.columnizer.js')
    script(src='js/main.js')